<div class="container-fluid" id="contenedor-principal">
    <div class="card">
        <div class="row">
            <!-- DIV RESUMEN COMPRA -->
            <div class="col-md-6 cart text-center">
                <div class="title">
                    <div class="row">
                        <img src="../../../../../assets/img/Logotipo_PAGODIGITAL.png" class="rounded-sm img-fluid" id="logo" alt="">

                        <p class="col text-right" id="nom_comercio">Nombre del comercio</p>

                    </div>
                </div>
                <div class="col text-left text-muted">{{"textos.resu_compra" | translate}}</div><br>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col">
                            <div class="row text-muted">Producto</div>
                            <div class="row">Referencia</div>
                        </div>
                        <div class="col text-right">&#36; 44.000 </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col">
                            <div class="row text-muted">Producto</div>
                            <div class="row">Referencia</div>
                        </div>
                        <div class="col text-right">&#36; 44.000 </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col">
                            <h6 class="text-muted text-right">{{"textos.total" | translate}}: $88.000</h6>
                            <h6 class="text-muted text-right">{{"textos.iva" | translate}}: $0</h6>
                            <h4 class="text-right">{{"textos.total_c" | translate}}: &#36; 88.000</h4>
                        </div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#" class="text-secondary">&leftarrow;</a><span class="text-muted">{{"textos.volver" | translate}}</span></div><br>

                <div class="row">
                    <h6>{{ 'demo.title' | translate }}</h6>
                    <div class="col-2">
                        <select #langSelect (change)="translate.use(langSelect.value)" class="form-control">
                            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- DIV FORM PAGO -->
            <div class="col-md-6 summary">
                <div class="text-center"><h5>{{"textos.info_pago" | translate}}</h5></div>
                <hr>

                <!-- SKELETON -->
                <div *ngIf="!contentLoaded">
                    <div class="form-row" *ngFor="let item of [1,1,1]">
                        <div class="form-group col-md-6">
                            <div class="item">
                                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="item">
                                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>                    
                    </div>
                    <div class="form-row" *ngFor="let item of [1]">
                        <div class="form-group col-md-12">
                            <div class="item">
                                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center" >Método de pago</h5>
                    <div class="form-row" *ngFor="let item of [1]">
                        <div class="col-md-10 offset-1">
                            <ul class="nav nav-tabs justify-content-center">
                                <li class="nav-item">
                                    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                </li>
                            </ul>

                            <div class="tab-pane fade show active" id="pse" role="tabpanel" aria-labelledby="pse-tab">
                                <br>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                        <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN SKELETON -->
                
                <form [formGroup]="form" *ngIf="contentLoaded">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre" class="text-left">{{"textos.nombre" | translate}}</label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="{{'textos.nombre' | translate}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono" class="text-left">{{"textos.telefono" | translate}}</label>
                            <input type="text" class="form-control" formControlName="telefono" placeholder="{{'textos.telefono' | translate}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tipo_documento" class="text-left">{{"textos.tipo_doc" | translate}}</label>
                            <select id="selectTipoDocumento" formControlName="id_tipo_documento" class="form-control">
                                <option value="0">-- Seleccione --</option>
                                <option value="1">Cédula Ciudadanía</option>
                                <option value="2">Cédula Extranjería</option>
                                <option value="3">Pasaporte</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numero_documento" class="text-left">{{"textos.num_doc" | translate}}</label>
                            <input type="text" class="form-control" formControlName="numero_documento" placeholder="{{'demo.title' | translate }}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email" class="text-left">{{"textos.email" | translate}}</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="{{'textos.email' | translate}}">
                            <span *ngIf="this.form.get('email')?.errors?.['email']">
                                (El mail no es válido)
                              </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="referencia" class="text-left">{{"textos.ref_pago" | translate}}</label>
                            <input type="text" class="form-control" formControlName="ref_pago" placeholder="{{'textos.ref_pago' | translate}}">
                        </div>
                    </div>

                    <h5 class="text-center">{{"textos.metodo_pago" | translate}}</h5>
                    <br>
                    <div class="form-row">

                        <div class="col-md-10 offset-1">
                            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="pse-tab" data-toggle="tab" href="#pse" role="tab" aria-controls="pse" aria-selected="true">{{"textos.pse" | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="credit-card-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-card" aria-selected="false">{{"textos.tarjeta" | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="efecty-tab" data-toggle="tab" href="#efecty" role="tab" aria-controls="efecty" aria-selected="false">Efecty</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="sured-tab" data-toggle="tab" href="#sured" role="tab" aria-controls="sured" aria-selected="false">Su Red</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="daviplata-tab" data-toggle="tab" href="#daviplata" role="tab" aria-controls="daviplata" aria-selected="false">Daviplata</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- DIV PSE -->
                                <div class="tab-pane fade show active" id="pse" role="tabpanel" aria-labelledby="pse-tab">
                                    <br>
                                    <img src="../../../../../assets/img/logo_PSE.png" class="rounded mx-auto d-block" alt="logo_pse">
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="banco">{{"textos.banco" | translate}}</label>
                                            <select id="banco" formControlName="id_banco_pse" class="form-control">
                                                <option value="0">-- Seleccione --</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="tipo_persona">{{"textos.tipo_per" | translate}}</label>
                                            <select id="tipo_persona" formControlName="id_tipo_persona_pse" class="form-control">
                                                <option value="0">-- Seleccione --</option>
                                                <option value="1">Persona Natural</option>
                                                <option value="2">Persona Jurídica</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            {{"textos.acepta" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.terminos" | translate}} </a></span> {{"textos.y" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.politica_datos" | translate}}</a></span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn rounded" (click)="respuesta()">{{"textos.pagar" | translate}}</button>
                                </div>

                                <!-- DIV TARJETA CRÉDITO -->
                                <div class="tab-pane fade" id="credit-card" role="tabpanel" aria-labelledby="credit-card-tab">
                                    <h5 class="text-white text-center">{{"textos.info_tarjeta" | translate}}</h5><br>
                                    <label class="text-sm-left">{{"textos.num_tarjeta" | translate}}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" maxlength="30" placeholder="1234 1234 1234 1234" (keypress)="soloNumeros($event)" (keyup)="keyUpEvent($event); GetCardType($event);" >
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <img [src]="icono" style="width:25px;">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="text-sm-left">{{"textos.fecha_vence" | translate}}</label>
                                            <input type="text" class="form-control" maxlength='5' placeholder="MM/YY" (keyup)="formatString($event);">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="text-sm-left">CVV2</label>
                                            <input type="text" class="form-control" maxlength='4' placeholder="CVV" (keypress)="soloNumeros($event);">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label class="text-sm-left">{{"textos.cuotas" | translate}}</label>
                                            <select id="cuotas" class="form-control">
                                                <option value="0">-- Seleccione --</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">...</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            {{"textos.acepta" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.terminos" | translate}} </a></span> {{"textos.y" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.politica_datos" | translate}}</a></span>
                                        </div>
                                    </div>

                                    <button type="button" class="btn rounded" (click)="respuesta()">{{"textos.pagar" | translate}}</button>
                                </div>

                                <!-- DIV EFECTY -->
                                <div class="tab-pane fade" id="efecty" role="tabpanel" aria-labelledby="efecty-tab">
                                    <br>
                                    <div class="alert alert-secondary" role="alert" style="font-size:8pt">
                                        Para procesar el pago con EFECTIVO por favor siga las instrucciones: <br><br>
                                        1.  Acércate a la sucursal más cercana de EFECTY. <br>
                                        2.  Muéstrale o entrégale la referencia de pago PINy número de convenio al asesor de tu sucursal. <br>
                                        3.  Valida que los datos de tu compra coincidan con los que te da el asesor. <br>
                                        4.  Realiza el pago. <br>
                                        5.  Solicita el comprobante y valida nuevamente la Información.
                                      </div>
                                    <br>
                                    <img src="../../../../../assets/img/logo_efecty.png" class="rounded mx-auto d-block" style="width: 120px; background-color: yellow;" alt="logo_efecty">
                                    <br>

                                    <div class="form-row">
                                        <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            {{"textos.acepta" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.terminos" | translate}} </a></span> {{"textos.y" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.politica_datos" | translate}}</a></span>
                                        </div>
                                    </div>

                                    <button type="button" class="btn rounded">{{"textos.pin" | translate}}</button>
                                </div>

                                <!-- DIV SU RED -->
                                <div class="tab-pane fade" id="sured" role="tabpanel" aria-labelledby="sured-tab">
                                    <br>
                                    <div class="alert alert-secondary" role="alert" style="font-size:8pt">
                                        Para procesar el pago con EFECTIVO por favor siga las instrucciones: <br><br>
                                        1.  Acércate a la sucursal más cercana de SU RED. <br>
                                        2.  Muéstrale o entrégale la referencia de pago PIN al asesor de tu sucursal. <br>
                                        3.  Valida que los datos de tu compra coincidan con los que te da el asesor. <br>
                                        4.  Realiza el pago. <br>
                                        5.  Solicita el comprobante y valida nuevamente la Información.
                                      </div>
                                    <br>
                                    <img src="../../../../../assets/img/logo_su_red.png" class="rounded mx-auto d-block" style="width: 130px; background-color: rgb(26, 39, 226);" alt="logo_sured">
                                    <br>

                                    <div class="form-row">
                                        <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            {{"textos.acepta" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.terminos" | translate}} </a></span> {{"textos.y" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.politica_datos" | translate}}</a></span>
                                        </div>
                                    </div>

                                    <button type="button" class="btn rounded">{{"textos.pin" | translate}}</button>
                                </div>

                                <!-- DIV DAVIPLATA -->
                                <div class="tab-pane fade" id="daviplata" role="tabpanel" aria-labelledby="daviplata-tab">
                                    <br>
                                    <div class="alert alert-secondary" role="alert">
                                        Mensaje informativo
                                      </div>
                                    <br>
                                    <img src="../../../../../assets/img/logo_daviplata.png" class="rounded mx-auto d-block" style="width: 130px; " alt="logo_daviplata">
                                    <br>

                                    <div class="form-row">
                                        <div class="form-group col-md-12"  style="font-size: 10pt ;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            </div>
                                            {{"textos.acepta" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.terminos" | translate}} </a></span> {{"textos.y" | translate}} <span class="font-weight-bold"><a href="#"> {{"textos.politica_datos" | translate}}</a></span>
                                        </div>
                                    </div>

                                    <button type="button" class="btn rounded">{{"textos.pin" | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
